::-webkit-scrollbar {
    width: 0px;
  }
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: none; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: none; 
  }

:root {
    --blue: #40FEFE;
    --white: #D8E9E7;
    --c1: #070927;
    --c2: #110559;
    --c3: #21118C;
  }

body{
    background-color: var(--c1);
    color: white;
    font-family: 'Roboto Mono', monospace;
    
}
*{
    scroll-behavior: smooth;
}

p{
    font-size: 18px;
    line-height: 26px;
    color: var(--white);
}
li{
    line-height: 26px;
}
nav {
   position: fixed;
   background-color: var(--c1);
   width: 100vw;
   z-index: 10000;
   margin: -70px 0px;
}

nav div{
    display: flex;
    justify-content: end;
    padding: 0px 50px;
}

nav div *{
    display: inline-block;
    text-decoration: none;
}
a{
    color: var(--white);
    transition: 0.8s;
    text-decoration: none;
}
a:hover{
    color: var(--blue);
    list-style: circle;
}
nav li{
    margin: 10px;
}


header{
    margin: 70px;
}

header> .subtitle_top  p{
    color: var(--blue);
    
}

header>p{
    width: 400px;
}
.container_circle{
    position: absolute;
    margin:200px 00px 0px 600px;
}

.container_circle div{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color:var(--blue);
    filter: blur(36px);
    display: inline-block;
    margin: 50px;
}

.subtitle_top *{
    display: inline-block;
}

.name_top {
    font-size: 100px;
    color: var(--white);
    margin: 0px;
}


.button_top{
    background-color: var(--c3);
    padding: 10px 30px;
    width: 200px;
    border-radius: 20px;
    margin: 30px 0px;
    box-shadow: 0px 0px 10px 10px var(--c2) ;
    box-sizing: border-box;
    color: var(--white);
}

.button_top{
    cursor: pointer;
}

h2{
    color: var(--blue);
}

section{
    margin: 300px auto;
    width: 1379px;
}

.studies_content{
    margin: 10px;
    display: flex;
    align-items: center;
}

.studies_content div{
    display: inline-block;
}

.studies_content_p{
    width: 800px;
    background-color: var(--c3);
    box-shadow: 0px 0px 10px 10px var(--c2) ;
    border-radius: 20px;
    padding: 10px 30px;
    box-sizing: border-box;
    height: 300px;
}


.studies_content >.studies_content_p >p{
}

.studies_content >.studies_content_title{
    display: flex;
    
}

.studies_content >.studies_content_title >h3{
    vertical-align:middle;
    display: inline-block;
    -webkit-transform: rotate(270deg); 
    width: 100px;
}

.studies_content_table{
    margin: 0px 20px 0px 200px;
    text-align: end;
}

.studies_content_table *{
    list-style: none;
    
}

.studies_content_table li{
    transition: 0.8s;
    text-decoration: none;
    cursor: pointer;
    
}

.studies_content_table li:hover{
    color: var(--blue);
    
}
.studies_content_table >:first-child{
    margin: 0px 0px 30px 0px;
}
.line{
    width: 10px;
    height: 240px;
    background-color: var(--c3);
    box-shadow: 0px 0px 10px 10px var(--c2) ;
    border-radius: 20px;
}

.streng >div{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 1379px;

}

.streng >div>div{
    width: 350px;
    background-color: var(--c3);
    box-shadow: 0px 0px 10px 10px var(--c2) ;
    border-radius: 20px;
    padding: 10px 30px;
    box-sizing: border-box;
    margin: 0px 50px;
    height: 100%;
}

.proyect_card {
    width: 1379px;
    display: flex;
    align-items: flex-start;
}

.proyect_card >div {
    width: 670px;
    display: inline-block;
    margin: 20px;
    height: 400px;
}

.proyect_card_imagen img {
    width: 100%;
    height: 100%;
    display: inline-block;
    object-fit: cover;
}

.proyect_card_imagen  {
    background-color: var(--c3);
    box-shadow: 0px 0px 10px 10px var(--c2) ;
    border-radius: 20px;
    padding: 10px 30px;
    box-sizing: border-box;
}
.proyect_card_text> div{
    display: inline-block;
}

.proyect_card_text_div1{
    width: 600px;

}
.proyect_card_text_div2 {
    -webkit-transform: rotate(90deg);
    width: 20px;
    position: absolute;
    margin-top: 60px;
}

.proyect_card_text_div2 >p{
    margin: 0px;
    color: var(--blue);
    font-weight: 600;
    
}

.techs div{
display: inline-block;
background-color: var(--c3);
box-shadow: 0px 0px 10px 10px var(--c2) ;
border-radius: 20px;
padding: 10px 10px;
}

.techs p{
margin: 0px;
    }

.contact>div{
    width: 1379px;
text-align: center;
margin: 40px;
}

.contact p{
    margin: 10px;
}

.contact img{
    display: inline-block;
    height: 55px;
    width: 55px;
    background-color: #110559;
    border-radius: 50px;
    margin: 40px 30px 10px 30px;
    cursor: pointer;
    box-shadow: 0px 0px 20px 10px #110559 ;
    transition: all 1s;
}
.contact img:hover{
    box-shadow: 0px 0px 20px 1px #d8e9e750 ;
    background-color: #d8e9e72a;
}



.contact_items_correo{
    background-color: var(--c3);
    box-shadow: 0px 0px 10px 10px var(--c2) ;
    border-radius: 20px;
    padding: 10px 30px;
    width: max-content;
    margin: auto;
}
.contact_items_correo :first-child{
    color: var(--blue);
}
.contact_items_correo *{
    display: inline;
}

.link{
    background-color: var(--c3);
    padding: 10px 30px;
    width: 600px;
    border-radius: 20px;
    margin: 30px auto;
    box-shadow: 0px 0px 10px 10px var(--c2) ;
    box-sizing: border-box;
    text-align: start;
    transition: width 1s;
    transition: box-shadow 1s;
}

.link{
    cursor: pointer;
    text-align: center;
}

.link:hover{
    border-left: 3px solid var(--white);
    box-shadow: 0px 0px 20px 1px #d8e9e750 ;

}

footer{
    text-align: center;
}

.credits *{
    display: inline-block;
    margin: 20px;
    position: relative;
}

.credits{
    margin: 100px 0px 0px 0px;
    background-color: #07092700;
}

.credits_blur{
    background: #110559;
    border-radius: 30px;
    filter: blur(10px);
    position: absolute;
    width: 800px;
    height: 60px;
    margin: 0px -70px;
    z-index: 0;
}